.container {
    position: fixed;
    width: 50%;
  }
#startBG{
   position: relative;
   width: 1000px;
   height: 1000px;
}
.container .StartButton{
    margin: 0;
    position: absolute;
    top: 500px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: lightsalmon;
    color: white;
    font-size: 30px;
    padding: 24px 36px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.container .StartButton:hover {
    background-color: lightcoral;
  }
.container .instruction{
  position: absolute;
  top:0%;
  left:50%;
  transform: translate(-50%);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#timer{
    font-size:30px;
    color: rgb(135, 167, 22);
    padding: 20px;
    margin: auto;
   
}

h1{
  color: lightsalmon;
}

body{
    background-color: rgb(245, 243, 151);
    overflow: hidden;
}